/* Generics */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}


header{
    padding: 50px 0;
}

h1{
    font-size: 38px;
    color: #e4306f;
    padding-bottom: 50px;
}

img{
    height: 90px;
    float: left;
    margin-right: 10px;
}

h3{
    padding-top: 10px;
}

span, a{
    display: block;
}

a{
    text-decoration: none;
}

/* Utilities */

.container{
    max-width: 1200px;
    min-height: 200px;
    margin: 0 auto;
    text-align: center;
}

.team-cards{
    width: calc(100% / 3 - 20px);
    height: 90px;
    background-color: #000;
    float: left;
    margin: 0 10px;
    margin-bottom: 20px;
    color: #fff;
    text-align: left;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}