/* Generics */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

.container{
    max-width: 1080px;
    min-height: 200px;
    margin: 0 auto;
    text-align: center;
}

header{
    padding: 50px 0;
}

h1{
    color: #e4306f;
    padding-bottom: 50px;
}

