/* Generics */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}


header{
    padding: 50px 0;
}

h1{
    color: #e4306f;
    padding-bottom: 50px;
}

/* Utilities */

.container{
    max-width: 1200px;
    min-height: 200px;
    margin: 0 auto;
    text-align: center;
}
.team-cards{
    width: calc(100% / 3 - 40px);
    height: 90px;
    background-color: #000;
    float: left;
    margin: 0 20px;
    margin-bottom: 20px;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}